


.App {
  text-align: center;
 

}

.hoverColor:hover{
  background-color: lightblue;
}

ul {
  list-style-type: none;
  padding:0;
}

Music{
  position:'fixed';
  top:'40%';
  right:'10%';
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

#tsparticles{
z-index:-1;
position:relative;
}

#shareButton:hover{
  background-color:yellow;
}

#deleteAssignment:hover{
  background-color: yellow;
}

